.description {
    max-width: var(--page-max-width);
	margin: 40px auto 60px;
	padding: 0 30px;
    text-align: justify;
    font-size: 25px;
    line-height: 1.25em;
}

@media (--mobile) {
	.description {
		font-size: 20px;
		text-align: initial;
		margin-top: 25px;
	}
}