/**
 * Variables
 */
:root {
    --page-max-width: 1200px;

    /*Colors*/
    --light-gray: #fdfdfd;
    --gray: #f6f6f6;
    --text-white: #ffffff;
}

/**
 * Custom media queries
 */
@custom-media --mobile all and (max-width: 760px);
